

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    background-repeat: unset;
}
#file-input{
}
.schedule {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
}
.day {
    margin-bottom: 20px;
}
.date {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #000;
    font-weight: 500;
}
.lesson {
    padding: 10px;
    margin-bottom: 10px;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 16px;
}
.lesson:last-child {
    margin-bottom: 0;
}
.subject {
    font-weight: bold;
    color: #333;
}
.time, .teacher, .classroom {
    color: #555;
}